<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299550917691-46hnvkvkm5bu3djmq88s3qvmufonlgpt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299550917691-46hnvkvkm5bu3djmq88s3qvmufonlgpt</string>
	<key>API_KEY</key>
	<string>AIzaSyBhaT1_MHA7ntpmzTwtN0Zr1yD1TvPqXOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>299550917691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>furkansabaz.com.Tatli-Sozluk</string>
	<key>PROJECT_ID</key>
	<string>tatli-sozluk</string>
	<key>STORAGE_BUCKET</key>
	<string>tatli-sozluk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299550917691:ios:53273ff07d3ae55e</string>
	<key>DATABASE_URL</key>
	<string>https://tatli-sozluk.firebaseio.com</string>
</dict>
</plist>